# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Dataset
dataset/

# Outputs
outputs/

# Training runs
runs/

# Model weights
*.pt
*.pth
*.weights
*.onnx

# Videos
*.mp4
*.avi
*.mov

# Temporary files
tempCodeRunnerFile.py

*.mp4

dataset/
outputs/
models/weights/
*.pt
*.mp4
tempCodeRunnerFile.py

# Dataset
dataset/

# Outputs
outputs/

# Model weights
models/weights/
*.pt

# PyInstaller
dist/
build/
*.spec

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/